
.navbar-brand{
    border-right:solid;
    border-color:black;
    border-width:1px;
    padding-right:7px;
}
.btn {
    font-family: 'Inconsolata', monospace;
}
.card {
    font-family: 'Inconsolata', monospace;
    height:auto;
    padding:5px;
}
#navLogin {
    border-left:1px solid gray;
}
.nav-item {
    font-family: 'Inconsolata', monospace;
}
.form-control::-webkit-input-placeholder {
    font-family: 'Inconsolata', monospace;
}
label {
    font-family: 'Inconsolata', monospace;
}
h1 {
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
h3 {
    font-family: 'Inconsolata', monospace;
}
h4 {
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
#AccountForm {
    background-color:white;
    opacity:0.8;
    padding:20px;
    border:none;
    border-radius:5px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1bc39a;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
