
@{
    ViewData["Title"] = "Events";
}
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="~/images/block.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Find musicians in your area!</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/images/flyer.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Tell the world about your event!</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/images/dj.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Let em' know where you're spinning.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="~/images/drumguy.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Build a community!</p>
                </div>
            </div>
        </div>
    </div>
    




