@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}



<div class="row">
    <div class="col-md-6 offset-3" id="AccountForm">
        
        <form method="post">
            <h3 class="display-4">User Registration</h3>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary justify-content-center" value="Register" />
        </form>
    </div>
</div>